*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.thumbnail-container{
  position: absolute;
  top: 75px;
  left: 50%;
  overflow: auto;  
  white-space: nowrap; 
  min-width: 200px; 
  height: 10%;
  aspect-ratio: 2;
  margin-left: -100px;
}

.thumbnails{
  height: 95%;
  aspect-ratio: 1;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%;
}

.image-fullscreen{
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}