*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body{
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 50%;
  z-index: 1;
  align-items: center;
  background-color: rgb(32, 32, 32);
}

.decrementBtn{
  position: absolute;
    top: 65px;
    left: 40%;
    padding: 10px;
    height: 50px;
    width: 60px;
    margin-left: -35px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 4px darkgrey solid;
}

.incrementBtn{
  position: absolute;
    top: 65px;
    right: 37%;
    padding: 10px;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 4px darkgrey solid;
}

.thumbnail-container{
  position: absolute;
  top: 75px;
  left: 50%;
  overflow: auto;  
  white-space: nowrap; 
  min-width: 200px; 
  height: 10%;
  aspect-ratio: 2;
  margin-left: -100px;
}

.thumbnails{
  height: 95%;
  aspect-ratio: 1;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%;
}

.image-fullscreen{
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

@media (max-width:1250px) {
  .thumbnail-container{
    top: 120px;
  }
  .decrementBtn{
    top: 65px;
    left: 42%;
  }
  .incrementBtn{
    top: 65px;
    right:38%;
  }
}

@media (max-width:950px){
  .decrementBtn{
    top: 65px;
    left: 35%;
  }
  .incrementBtn{
    top: 65px;
    right: 28%;
  }
}